#Strong:
settings.txt
serverSettings.txt

#Build.py:
Strong_*
obj/

#Code blocks:
codeblocks/

#Eclipse:
.cproject
.project
.settings/
Debug/

#Xcode:
Strong.xcodeproj/

#Atom:
.tags
.tags1

#Dlls
*.dll